@model dynamic
@{
    ViewData["Title"] = "Preview Emails";
    var pic = User?.Claims.FirstOrDefault(x => x.Type == "urn:google:picture").Value;

    List<School> schools = Model.Schools;
    EmailTemplate template = Model.Template;

    var createdSuccessfully = (TempData["EmailSent"] != null && bool.Parse(TempData["EmailSent"].ToString()) != false) ? true : false;
    //createdSuccessfully = true;  // for testing
    TempData["CreatedEmail"] = null;  // clear it out

    // Modify the EmailSubjectLine for the preview page for proper behavior
    var subjectLine = template.EmailSubjectLine;
    var results = subjectLine.Split('[', ']').Where((item, index) => index % 2 != 0).Select(x => '[' + x + ']').ToList();

    foreach (var item in results)
    {
        // get the right tag
        var tag = item.ToUpper() switch
        {
            var x when
            x == "[SCHOOL]" => "school-name",
            "[SCHOOL NAME SHORT]" => "school-name-short",
            "[COACH NAME]" => "coach-name",
            "[COACH EMAIL]" => "coach-email",
            "[COACH PHONE]" => "coach-phone",
            _ => ""
        };

        subjectLine = subjectLine.Replace(item, $@"<span class=""coach-button"" data-school-info=""{tag}"">{item}</span>");

    }
}

<form asp-route="Index" id="previewForm" method="post">

    @if (createdSuccessfully)
    {
        <div class="container success">
            <span class="fad fa-thumbs-up fa-2x"></span>
            <h4>Sweet!</h4>  Your emails have been created and are in your GMail DRAFTS folder.
        </div>
    }

    <div class="emails-loading d-none">
        <span class="fad fa-spinner fa-pulse fa-2x spinner"></span>
        <span class="text">Creating emails...</span>
    </div>

    <div class="container preview-container">
        <div class="school-count">
            <span class="number">@schools.Where(s => s.IsEnabled == true).Count()</span> schools
        </div>

        <div class="row">
            <div class="col preview-school-list">

                @foreach (var school in schools.Where(x => x.IsEnabled == true).OrderBy(s => s.SchoolName))
                {
                    <div class="school-item-preview"
                     data-school-name="@school.SchoolName"
                     data-school-name-short="@school.SchoolNameShort"
                     data-coach-name="@school.CoachName"
                     data-coach-email="@school.CoachEmail"
                     data-coach-phone="@school.CoachPhoneNumber">
                        <span class="school">@school.SchoolName</span>
                        <span class="coach">Coach @school.CoachName</span>
                    </div>
                }
            </div>
            <div class="col-8">

                <div class="preview-pane">
                    <div class="email-header">
                        <div class="header-row">
                            <label>From:</label>
                            <span class="header-item from">@template.EmailAddress</span>
                        </div>
                        <div class="header-row">
                            <label>To:</label>
                            <span class="header-item to">[COACH TO]</span>
                        </div>
                        <div class="header-row">
                            <label>Subject:</label>
                            <span class="header-item subject">@Html.Raw(subjectLine)</span>
                        </div>
                    </div>

                    <div class="email-body">
                        @Html.Raw(template.EmailBody)
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="buttons row">
        <div class="col">
            <a asp-controller="school" class="nav-button prev">
                <span class="fal fa-chevron-circle-left fa-lg"></span>
                PREV: Schools
            </a>
        </div>
        <div class="col text-right">
            <button type="submit" class="nav-button send">
                SEND EMAIL
                <span class="fad fa-paper-plane fa-lg"></span>
            </button>
            <div class="sending nav-button d-none">
                SENDING...
                <span class="fad fa-paper-plane fa-lg icon"></span>
            </div>
        </div>
    </div>
</form>


@section Scripts {
<script src="~/js/preview.js" asp-append-version="true"></script>


}