@{
    var thisController = this.ViewContext.RouteData.Values["controller"].ToString().ToLowerInvariant();
    var thisAction = this.ViewContext.RouteData.Values["action"].ToString().ToLowerInvariant();

    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var username = User?.Identity?.Name;
    var usericon = User?.Claims?.FirstOrDefault(x => x.Type == "urn:google:picture")?.Value;
}

<header class="fixed-top">
    <nav class="navbar container">

        <a asp-controller="Home" class="navbar-brand logo">
            <img src="~/img/coach-icon3.png" srcset="~/img/coach-icon3.svg" />
            <span class="coach">Coach</span>
            <span class="emailer">Emailer</span>
            <!-- <img src="~/images/logo-web.png" height="50" /> -->
        </a>

        <div class="navbar-nav">
            <a asp-controller="email-template" class="nav-item @(thisController == "emailtemplate" ? "active" : "")">email Template</a>
            <a asp-controller="School" class="nav-item @(thisController == "school" ? "active" : "")">Schools</a>
            <a asp-controller="email-preview" class="nav-item @(thisController == "emailpreview" ? "active" : "")">email Preview</a>
        </div>


        <div class="user ml-auto">

            @if (isAuthenticated)
            {
                <span class="account-action">
                    <span class="name">@username</span>
                    <a asp-controller="Home" asp-action="Logout" class="logout">
                        Logout
                        <span class="far fa-sign-out-alt"></span>
                    </a>
                </span>
                <span class="user-icon">
                    <img src="@usericon" />
                    <span class="img-overhang">
                        <span class="img-overhang-shadow"></span>
                    </span>
                </span>
            }
            else
            {
                <span class="account-action">
                    <a asp-controller="Home" asp-action="Login" class="login">
                        Login
                        <span class="far fa-sign-in-alt"></span>
                    </a>
                </span>
            }
        </div>

    </nav>
</header>
