@model List<CoachEmailGenerator.Models.School>
@{
    ViewData["Title"] = "School Page";
    var userEmail = User.Claims.FirstOrDefault(x => x.Type.ToString().IndexOf("emailaddress") > 0)?.Value;


    var sortValue = String.IsNullOrEmpty(ViewData["Sort"].ToString()) ? "SchoolName" : ViewData["Sort"].ToString();
    var sortList = new List<SelectListItem>
    {
        new SelectListItem() { Value = "Timestamp", Text = "Date Added", Selected = sortValue == "Timestamp" },
        new SelectListItem() { Value = "SchoolName", Text = "School", Selected = sortValue == "SchoolName" },
        new SelectListItem() { Value = "CoachName", Text = "Coach", Selected = sortValue == "CoachName" },
        new SelectListItem() { Value = "IsEnabled", Text = "Enabled", Selected = sortValue == "IsEnabled" }
    };

    // Get the sort value
    var sortProperty = System.ComponentModel.TypeDescriptor.GetProperties(typeof(School)).Find(sortValue, true);
    if (sortProperty == null)
    {
        sortProperty = System.ComponentModel.TypeDescriptor.GetProperties(typeof(School)).Find("SchoolName", true);
    }

    var schools = sortValue == "IsEnabled" ? Model.OrderByDescending(s => s.IsEnabled) : Model.OrderBy(s => sortProperty.GetValue(s));
}

<form asp-route="Index" method="post">

    <input type="hidden" id="userEmail" value="@(userEmail)" />

    <div class="school-list">

        <div class="school-list-action-header">
            <div class="sort">
                <span class="label">Sort By</span>
                <select class="sort-by" asp-items="sortList">
                </select>

                <span class="count">
                    <span class="number">@schools.Count()</span> schools
                    (<span class="number enabled-count">@schools.Where(s => s.IsEnabled).Count()</span> active)
                </span>
            </div>

            <div class="enable">
                <a href="#" class="enable-all" onclick="return false;">enable all</a>
                <span class="separator">|</span>
                <a href="#" class="disable-all" onclick="return false;">disable all</a>

                <span class="saving d-none">
                    <span class="fad fa-spinner fa-pulse"></span>
                    Saving...
                </span>
            </div>

            <div class="add-new">
                <button type="button" class="btn btn-primary btn-add-school">
                    <span class="far fa-plus icon"></span>
                    Add new school
                </button>
            </div>
        </div>


        <div class="row-wrapper d-none new-school-item">
            <div class="grid-item school">
                <div class="edits">
                    <label for="">School Name</label>
                    <input type="text" id="newSchoolName" class="full-width school-name" />
                    <label for="">School Abbreviation</label>
                    <input type="text" id="newSchoolNameShort" class="school-name-short" />
                </div>
            </div>
            <div class="grid-item coach">
                <div class="edits">
                    <label for="">Head Coach</label>
                    <input type="text" id="newHeadCoachName" class="full-width coach-name" />
                    <label for="">Email</label>
                    <input type="text" id="newSHeadCoachEmail" class="full-width coach-email" />
                    <label for="">Phone</label>
                    <input type="text" id="newHeadCoachPhoneNumber" class="coach-phone" />
                </div>
            </div>
            <div class="grid-item actions new-school-actions">
                <div class="icons">
                    <span class="icon fad fa-save save"></span>
                    <span class="icon fad fa-window-close close"></span>
                    <span class="saving d-none">
                        <span class="fad fa-spinner fa-pulse"></span>
                        Saving...
                    </span>
                </div>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>

            <input type="hidden" id="newId" class="id" value="00000000-0000-0000-0000-000000000000" />
        </div>


        @if (Model != null)
        {
            @foreach (var school in schools)
            {
                <div class="row-wrapper">
                    <div class="grid-item school">
                        <span class="full-name">@school.SchoolName</span>
                        <span class="short-name">@school.SchoolNameShort</span>

                        <div class="edits">
                            <label asp-for="@school.SchoolName">School Name</label>
                            <input type="text" asp-for="@school.SchoolName" class="full-width school-name" />
                            <label asp-for="@school.SchoolName">School Abbreviation</label>
                            <input type="text" asp-for="@school.SchoolNameShort" class="school-name-short" />
                        </div>
                    </div>
                    <div class="grid-item coach">
                        <span class="coach-name">@school.CoachName</span>
                        <span class="email">@school.CoachEmail</span>
                        <span class="phone">@school.CoachPhoneNumber</span>

                        <div class="edits">
                            <label asp-for="@school.CoachName">Head Coach</label>
                            <input type="text" asp-for="@school.CoachName" class="full-width coach-name" />
                            <label asp-for="@school.CoachEmail">Email</label>
                            <input type="text" asp-for="@school.CoachEmail" class="full-width coach-email" />
                            <label asp-for="@school.CoachPhoneNumber">Phone</label>
                            <input type="text" asp-for="@school.CoachPhoneNumber" class="coach-phone" />
                        </div>
                    </div>
                    <div class="grid-item enabled">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="@school.IsEnabled" id="@($"enabled{school.Id}")" class="custom-control-input enabled-checkbox" />
                            <label asp-for="@school.IsEnabled" for="@($"enabled{school.Id}")" class="custom-control-label">Enabled</label>
                        </div>
                    </div>
                    <div class="grid-item actions">
                        <div class="icons">
                            <span class="icon fad fa-save save d-none"></span>
                            <span class="icon fad fa-edit edit"></span>
                            <span class="icon fad fa-trash-alt delete" data-toggle="modal" data-target="#confirmDeleteModal"></span>
                            <span class="icon fad fa-window-close close-edit d-none"></span>
                            <span class="saving d-none">
                                <span class="fad fa-spinner fa-pulse"></span>
                                Saving...
                            </span>
                        </div>
                    </div>
                    <div class="grid-item timestamp">
                        @school.Timestamp.ToString("dd-MMM-yy h:mmtt").ToUpper()
                    </div>

                    <input type="hidden" asp-for="@school.Id" class="id" />

                </div>
            }
        }
    </div>


    <div class="buttons row">
        <div class="col">
            <a asp-controller="email-template" class="nav-button prev">
                <span class="fal fa-chevron-circle-left fa-lg"></span>
                PREV: Email Template
            </a>
        </div>
        <div class="col text-right">
            <a asp-controller="email-preview" class="nav-button">
                NEXT: Preview email
                <span class="fad fa-chevron-circle-right fa-lg"></span>
            </a>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/img/are-you-sure.jpg" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No, don't delete</button>
                    <button type="button" class="btn btn-danger yes-delete">Yes, delete this school</button>
                </div>
            </div>
        </div>
    </div>


</form>


@section Scripts {
    <script src="~/js/schools.js" asp-append-version="true"></script>
}