@model List<CoachEmailGenerator.Models.School>
@{
    ViewData["Title"] = "School Page";
}

<form asp-route="Index" method="post">


    <div class="school-list">
        @if (Model != null)
        {
            @foreach (var school in Model)
            {
                <div class="school-item">
                    <div class="school-col school">
                        <span class="full-name">@school.SchoolName</span>
                        <span class="short-name">@school.SchoolNameShort</span>

                        <div class="edits">
                            <label asp-for="@school.SchoolName">School Name</label>
                            <input type="text" asp-for="@school.SchoolName" class="full-width school-name" />
                            <label asp-for="@school.SchoolName">School Name</label>
                            <input type="text" asp-for="@school.SchoolNameShort" class="school-name-short" />
                        </div>
                    </div>
                    <div class="school-col coach">
                        <span class="coach-name">@school.HeadCoach.Name</span>
                        <span class="email">@school.HeadCoach.Email</span>
                        <span class="phone">@school.HeadCoach.PhoneNumber</span>

                        <div class="edits">
                            <label asp-for="@school.HeadCoach.Name">Head Coach</label>
                            <input type="text" asp-for="@school.HeadCoach.Name" class="full-width coach-name" />
                            <label asp-for="@school.HeadCoach.Email">Email</label>
                            <input type="text" asp-for="@school.HeadCoach.Email" class="full-width coach-email" />
                            <label asp-for="@school.HeadCoach.PhoneNumber">Phone</label>
                            <input type="text" asp-for="@school.HeadCoach.PhoneNumber" class="coach-phone" />
                        </div>
                    </div>
                    <div class="school-col actions">
                        <div class="icons">
                            <span class="icon fad fa-save save d-none"></span>
                            <span class="icon fad fa-edit edit"></span>
                            <span class="icon fad fa-trash-alt"></span>
                            <span class="saving d-none">
                                <span class="fad fa-spinner fa-pulse"></span>
                                Saving...
                            </span>
                        </div>
                    </div>

                    <input type="hidden" asp-for="@school.Id" class="id" />

                </div>

            }
        }
    </div>

    <input type="submit" value="Save" />
</form>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $(".edit").click(function () {
                //alert($(this).parent().parent().siblings(".school").children(".full-name").html());

                var school = $(this).parent().parent().siblings(".school");
                school.children(".full-name").hide();
                school.children(".short-name").hide();
                school.children(".edits").show();

                var coach = $(this).parent().parent().siblings(".coach");
                coach.children(".coach-name").hide();
                coach.children(".email").hide();
                coach.children(".phone").hide();
                coach.children(".edits").show();

                $(this).addClass("d-none");
                $(this).siblings(".save").removeClass("d-none");
            });


            $(".save").click(function () {
                $(this).siblings(".saving").removeClass("d-none");

                // First save the data by calling the API
                var id = $(this).parent().parent().siblings(".id").val();

                var $school = $(this).parent().parent().siblings(".school");
                var $coach = $(this).parent().parent().siblings(".coach");
                var $this = $(this);

                var schoolJson = {
                    "Id": $(this).parent().parent().siblings(".id").val(),
                    "SchoolName": $school.children(".edits").children(".school-name").val(),
                    "SchoolNameShort": $school.children(".edits").children(".school-name-short").val(),
                    "HeadCoach": {
                        "Name": $coach.children(".edits").children(".coach-name").val(),
                        "Email": $coach.children(".edits").children(".coach-email").val(),
                        "PhoneNumber": $coach.children(".edits").children(".coach-phone").val()
                    },
                    "AssistantCoach": null,
                    "IsEnabled": true
                };

                $.ajax({
                    type: "POST",
                    url: "../api/SchoolInfo/SaveTheSchool",
                    data: JSON.stringify(schoolJson),
                    contentType: "application/json",
                    error: function (msg) {
                        alert('error' + msg);
                    },
                    success: function (data) {
                        // Update values rather than reload the page (better user experience)
                        $school.children(".full-name").text($school.children(".edits").children(".school-name").val()).show();
                        $school.children(".short-name").text($school.children(".edits").children(".school-name-short").val()).show();
                        $school.children(".edits").hide();

                        $coach.children(".coach-name").text($coach.children(".edits").children(".coach-name").val()).show();
                        $coach.children(".email").text($coach.children(".edits").children(".coach-email").val()).show();
                        $coach.children(".phone").text($coach.children(".edits").children(".coach-phone").val()).show();
                        $coach.children(".edits").hide();

                        $this.addClass("d-none");
                        $this.siblings(".edit").removeClass("d-none");
                    },
                    complete: function () {
                        $this.siblings(".saving").addClass("d-none");
                    }
                });

            });



        });
    </script>
}